<div class="jumbotron">

<img class="center" src="../assets/images/full-banner1.jpg">
</div>

<form class="form-signin">
     <h2 class="form-signin-heading">LOGIN</h2>
     <label for="inputEmail" class="sr-only">Usuário</label>
        <input name="email" [(ngModel)] = "user.username" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input name="password" [(ngModel)] = "user.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me">Lembrar me
          </label>
        </div>
	<button class="btn btn-lg btn-color btn-block" (click)="validateLogin();" type="button">Entrar</button>
</form>
