<div class="jumbotron bck-img">
<img class="center jumbotron" src="../assets/images/full-banner1.jpg">
<form class="form-signin jumbotron">
     <h2 class="form-signin-heading">LOGIN</h2>
     <label for="inputEmail" class="sr-only">Usuário</label>
        <input name="email" [(ngModel)] = "user.username" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input name="password" [(ngModel)] = "user.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me">Lembrar me
          </label>
        </div>
	<button class="btn btn-lg btn-color btn-block" (click)="validateLogin();" type="button">Entrar</button>

</form>
<footer class="footer navbar-default center" role="contentinfo">
  <div class="container">
      <p class="absolute">
          Criado por Douglas
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Add font awesome icons -->
        <a href="https://www.facebook.com/douglasnewmetal" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram "></a>
        Siga-me
      </p>
  </div>
</footer>
</div>


